<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>条件渲染</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div class="content">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>
</div>
<script>
    var vm = new Vue({
        el: '.content',
        data:{
            ok: true,
            type:'B'
        }
    });
</script>
</body>
</html>