<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>表单输入绑定</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div class="content">
    <div class="textarea">
        <h2>多行文本输入</h2>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <input v-model.trim="message" placeholder="add multiple lines">
    </div>
    <div id="checkbox">
        <h2>checkbox</h2>
        <input type="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>
    <div id='example-3'>
        <h2>多选</h2>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <div id="example-4">
        <h2>单选按钮</h2>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <div id="example-5">
        <h2>单选列表：</h2>
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <div id="example-6">
        <h2>多选列表：</h2>
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
        <br>
        <select v-model="selected1">
            <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
        </select>
        <span>Selected: {{ selected1 }}</span>
        <br>
        <!-- 当选中时，`picked` 为字符串 "a" -->
        <input type="radio" v-model="picked" value="a">
        <p>{{picked}}</p>
        <!-- `toggle` 为 true 或 false -->
        <!--但是有时我们想绑定 value 到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。-->
        <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">
        <p>{{toggle}}</p>
    </div>
</div>
<script>
    var vm = new Vue({
        el:'.textarea',
        data:{
            message: "moren"
        }
    });
    var vm1 = new Vue({
        el:'#checkbox',
        data:{
          checked: "true"
        }
    });
    var vm3 = new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    });
    var vm4 = new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    });
    var vm5 = new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    });
    var vm6 = new Vue({
        el: '#example-6',
        data: {
            a:'t',
            b:'n',
            selected: [],
            selected1: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ],
            picked:'',
            toggle:''
        }
    })
</script>
</body>
</html>